*Note: You are currently reading this using Google Colaboratory which is a cloud-hosted version of Jupyter Notebook. This is a document containing both text cells for documentation and runnable code cells. If you are unfamiliar with Jupyter Notebook, watch this 3-minute introduction before starting this challenge: https://www.youtube.com/watch?v=inN8seMm7UI*

---

In this challenge, you will create a book recommendation algorithm using **K-Nearest Neighbors**.

You will use the [Book-Crossings dataset](http://www2.informatik.uni-freiburg.de/~cziegler/BX/). This dataset contains 1.1 million ratings (scale of 1-10) of 270,000 books by 90,000 users. 

After importing and cleaning the data, use `NearestNeighbors` from `sklearn.neighbors` to develop a model that shows books that are similar to a given book. The Nearest Neighbors algorithm measures distance to determine the “closeness” of instances.

Create a function named `get_recommends` that takes a book title (from the dataset) as an argument and returns a list of 5 similar books with their distances from the book argument.

This code:

`get_recommends("The Queen of the Damned (Vampire Chronicles (Paperback))")`

should return:

```
[
  'The Queen of the Damned (Vampire Chronicles (Paperback))',
  [
    ['Catch 22', 0.793983519077301], 
    ['The Witching Hour (Lives of the Mayfair Witches)', 0.7448656558990479], 
    ['Interview with the Vampire', 0.7345068454742432],
    ['The Tale of the Body Thief (Vampire Chronicles (Paperback))', 0.5376338362693787],
    ['The Vampire Lestat (Vampire Chronicles, Book II)', 0.5178412199020386]
  ]
]
```

Notice that the data returned from `get_recommends()` is a list. The first element in the list is the book title passed in to the function. The second element in the list is a list of five more lists. Each of the five lists contains a recommended book and the distance from the recommended book to the book passed in to the function.

If you graph the dataset (optional), you will notice that most books are not rated frequently. To ensure statistical significance, remove from the dataset users with less than 200 ratings and books with less than 100 ratings.

The first three cells import libraries you may need and the data to use. The final cell is for testing. Write all your code in between those cells.

In [1]:
# import libraries (you may add additional imports but you may not have to)
import numpy as np
import pandas as pd
from scipy.sparse import csr_matrix
from sklearn.neighbors import NearestNeighbors
import matplotlib.pyplot as plt

In [2]:
# get data files
!wget https://cdn.freecodecamp.org/project-data/books/book-crossings.zip

!unzip book-crossings.zip

books_filename = 'BX-Books.csv'
ratings_filename = 'BX-Book-Ratings.csv'

--2020-10-18 11:35:59--  https://cdn.freecodecamp.org/project-data/books/book-crossings.zip
Resolving cdn.freecodecamp.org (cdn.freecodecamp.org)... 104.26.3.33, 104.26.2.33, 172.67.70.149, ...
Connecting to cdn.freecodecamp.org (cdn.freecodecamp.org)|104.26.3.33|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: unspecified [application/zip]
Saving to: ‘book-crossings.zip’

book-crossings.zip      [   <=>              ]  24.88M  41.9MB/s    in 0.6s

2020-10-18 11:35:59 (41.9 MB/s) - ‘book-crossings.zip’ saved [26085508]

Archive:  book-crossings.zip
  inflating: BX-Book-Ratings.csv
  inflating: BX-Books.csv
  inflating: BX-Users.csv

In [3]:
# import csv data into dataframes
df_books = pd.read_csv(
    books_filename,
    encoding = "ISO-8859-1",
    sep=";",
    header=0,
    names=['isbn', 'title', 'author'],
    usecols=['isbn', 'title', 'author'],
    dtype={'isbn': 'str', 'title': 'str', 'author': 'str'})

df_ratings = pd.read_csv(
    ratings_filename,
    encoding = "ISO-8859-1",
    sep=";",
    header=0,
    names=['user', 'isbn', 'rating'],
    usecols=['user', 'isbn', 'rating'],
    dtype={'user': 'int32', 'isbn': 'str', 'rating': 'float32'})

In [4]:
df_books.head()

         isbn  ...                author
0  0195153448  ...    Mark P. O. Morford
1  0002005018  ...  Richard Bruce Wright
2  0060973129  ...          Carlo D'Este
3  0374157065  ...      Gina Bari Kolata
4  0393045218  ...       E. J. W. Barber

[5 rows x 3 columns]

**Find the rating frequency of each user and add it to the data in a new column:**

In [5]:
def count_users_ratings(df_ratings):
  df_ratings_copy = df_ratings.copy()
  df_ratings_copy['user_freq'] = df_ratings_copy.groupby('user')['user'].transform('count')
  #clean_users = df_ratings_copy.loc[df_ratings_copy.user_freq>200].copy()
  return df_ratings_copy

**Find the number of ratings of each book and add it to the data in a new column:**

In [6]:
def count_book_ratings(df_ratings):
  df_ratings_copy = df_ratings.copy()
  df_ratings_copy['book_freq'] = df_ratings_copy.groupby('isbn')['isbn'].transform('count')
  #clean_books = df_ratings_copy.loc[df_ratings_copy.book_freq>100].copy()
  return df_ratings_copy

**Remove unvalid users and books:**
*   Remove any book that has less than 100 ratings and any user that rated less than 200 books:

In [7]:
def clean_data(df_ratings, user_ratings_threshold = 200, book_ratings_threshold = 100):
  ratings_data = count_users_ratings(df_ratings)
  ratings_data = count_book_ratings(ratings_data)
  clean_data = ratings_data.query('user_freq > @user_ratings_threshold & book_freq > @book_ratings_threshold')
  return clean_data

In [8]:
cleaned_data = clean_data(df_ratings)

In [9]:
cleaned_data

           user        isbn  rating  user_freq  book_freq
1456     277427  002542730X    10.0        497        171
1469     277427  0060930535     0.0        497        494
1471     277427  0060934417     0.0        497        350
1474     277427  0061009059     9.0        497        291
1484     277427  0140067477     0.0        497        189
...         ...         ...     ...        ...        ...
1147304  275970  0804111359     0.0       1376        167
1147436  275970  140003065X     0.0       1376        157
1147439  275970  1400031346     0.0       1376        106
1147440  275970  1400031354     0.0       1376        202
1147441  275970  1400031362     0.0       1376        128

[49254 rows x 5 columns]

*   Form a matrix from the ratings. 
*  Each row represents the ratings of a valid book rated by all valid users.

In [10]:
matrix_form = cleaned_data.pivot(index='isbn', columns='user', values='rating').fillna(0)

In [11]:
matrix_form

user        254     2276    2766    2977    ...  277427  277478  277639  278418
isbn                                        ...
002542730X     0.0     0.0     0.0     0.0  ...    10.0     0.0     0.0     0.0
0060008032     0.0     0.0     0.0     0.0  ...     0.0     0.0     0.0     0.0
0060096195     0.0     0.0     0.0     0.0  ...     0.0     0.0     0.0     0.0
006016848X     0.0     0.0     0.0     0.0  ...     0.0     0.0     0.0     0.0
0060173289     0.0     0.0     0.0     0.0  ...     0.0     0.0     0.0     0.0
...            ...     ...     ...     ...  ...     ...     ...     ...     ...
1573227331     0.0     0.0     0.0     0.0  ...     0.0     0.0     0.0     0.0
1573229326     0.0     0.0     0.0     0.0  ...     0.0     0.0     0.0     0.0
1573229571     0.0     0.0     0.0     0.0  ...     0.0     0.0     0.0     0.0
1592400876     0.0     0.0     0.0     0.0  ...     0.0     0.0     0.0     0.0
1878424319     0.0     0.0     0.0     0.0  ...     0.0     0.0     0.0     0.0

[721 rows x 882 columns]

Create the [csr_matrix](https://en.wikipedia.org/wiki/Sparse_matrix) from the ratings.

In [12]:
ratings_data_matrix = csr_matrix(matrix_form.values)

In [13]:
ratings_data_matrix

<721x882 sparse matrix of type '<class 'numpy.float32'>'
	with 12497 stored elements in Compressed Sparse Row format>

In [14]:
# function to return recommended books - this will be tested
def get_recommends(book = ""):
  if book == "":
    recommended_books = None
  else:
    recommended_books = []
    book_isbn = df_books.loc[df_books['title'] == book,'isbn'].values[0]
    book_info = matrix_form.loc[book_isbn].values.reshape(1,-1)
    distances, indices = model_KNN.kneighbors(book_info)
    for i in range(len(indices[0])):
      if i == 0:
        recommended_book = matrix_form.index[indices.flatten()[i]]
        recommended_book = df_books.loc[df_books['isbn']==recommended_book,'title'].values[0]
        recommended_books.append(recommended_book)
        recommended_books.append([])
      else:
        recommended_book = matrix_form.index[indices.flatten()[i-(2*i)]]
        recommended_book = df_books.loc[df_books['isbn']==recommended_book,'title'].values[0]
        distance = distances.flatten()[i-(2*i)]
        recommended_books[1].append([])
        recommended_books[1][i-1].append(recommended_book)
        recommended_books[1][i-1].append(distance)

  return recommended_books

In [15]:
model_KNN = NearestNeighbors(n_neighbors=6,radius=1,algorithm='auto',metric='cosine')
model_KNN.fit(ratings_data_matrix)

NearestNeighbors(algorithm='auto', leaf_size=30, metric='cosine',
                 metric_params=None, n_jobs=None, n_neighbors=6, p=2, radius=1)

In [16]:
books = get_recommends("Where the Heart Is (Oprah's Book Club (Paperback))")
print(books)

["Where the Heart Is (Oprah's Book Club (Paperback))", [["I'll Be Seeing You", 0.8016211], ['The Weight of Water', 0.77085835], ['The Surgeon', 0.7699411], ['I Know This Much Is True', 0.7677075], ['The Lovely Bones: A Novel', 0.7230184]]]

Use the cell below to test your function. The `test_book_recommendation()` function will inform you if you passed the challenge or need to keep trying.

In [17]:
books = get_recommends("Where the Heart Is (Oprah's Book Club (Paperback))")
print(books)

def test_book_recommendation():
  test_pass = True
  recommends = get_recommends("Where the Heart Is (Oprah's Book Club (Paperback))")
  if recommends[0] != "Where the Heart Is (Oprah's Book Club (Paperback))":
    test_pass = False
  recommended_books = ["I'll Be Seeing You", 'The Weight of Water', 'The Surgeon', 'I Know This Much Is True']
  recommended_books_dist = [0.8, 0.77, 0.77, 0.77]
  for i in range(2): 
    if recommends[1][i][0] not in recommended_books:
      test_pass = False
    if abs(recommends[1][i][1] - recommended_books_dist[i]) >= 0.05:
      test_pass = False
  if test_pass:
    print("You passed the challenge! 🎉🎉🎉🎉🎉")
  else:
    print("You havn't passed yet. Keep trying!")

test_book_recommendation()

["Where the Heart Is (Oprah's Book Club (Paperback))", [["I'll Be Seeing You", 0.8016211], ['The Weight of Water', 0.77085835], ['The Surgeon', 0.7699411], ['I Know This Much Is True', 0.7677075], ['The Lovely Bones: A Novel', 0.7230184]]]
You passed the challenge! 🎉🎉🎉🎉🎉